*{
    margin:0;
    padding:0;
}
.banner{
    min-height: 350px;
    padding-top: 0em !important;
}
.team-top {
    margin-top:6em;
    text-align: center;
}
.team-top h3 {
    font-size: 2em;
    color: #5482ab;
}
.lead {
    color: #999;
    font-size: 15px;
    line-height: 1.6em;
}
.introduce{
    width:650px;
    border:2px solid #dff0d8;
    margin-top:3em;
    margin-left:350px;
    margin-bottom:5em;
}
.introduce h3{
    margin:20px auto;
}
.contact-form form {
    text-align: center;
}
.contact-form input[type="text"] {
    width: 100%;
    color: #919191;
    background: none;
    outline: none;
    font-size: .9em;
    padding: .5em;
    margin-bottom: 1em;
    border: solid 1px #919191;
}
.contact-form textarea {
    resize: none;
    width: 100%;
    background: none;
    color: #919191;
    font-size: .9em;
    outline: none;
    padding: .5em;
    border: solid 1px #919191;
    min-height: 150px;
}
.contact-form input[type="submit"] {
    border: none;
    outline: none;
    color: #FFF;
    padding: .5em 1.5em;
    font-size: .9em;
    font-weight: 600;
    margin: 0.5em 0 0 0;
    background: #71c6c1;
}
.contact-form input[type="submit"]:hover {
    background: #18A990;
    transition: 0.5s all;
}
#submit{
    margin-bottom: 20px;
}
span.menu {
    display: none;
}
.teambottom h3{
    font-size: 2em;
    color: #5482ab;
    margin-bottom: 1em;
    text-align: center;
}

.bgBox img{
    width: 740px;
    height: 454px;
}

/*--footer--start*/
.footer {
    width:100%;
    height:30px;
    background: #1b1b1b;
    opacity:0.6;
    margin-top:20px;
    text-align: center;
}
.footet-left,.footet-right{
    color: #fff;
    font-size: 1.2em;

}
.footet-left{
    margin-left:160px;
    margin-top:1px;
}
.footet-right{
    margin-right:-5px;
    margin-top:3px;
}
/*--footer--end*/
